{% extends 'base.html' %}

{% block title_block %} Log In {% endblock %}

{% block body_block %}
    <section class="hero is-link is-medium">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                        <form class="box" method="post">
                        {% csrf_token %}
                            <div class="field has-text-centered">
                                <img src="francesslogo.png" alt="Frances's Logo" width="50%">
                            </div>


                            <h1 class="title has-text-centered">Log in</h1>
                            {% if form.errors %}
                                <div class="notification is-danger">
                                    <p>Your username and password didn't match. Please try again.</p>
                                </div>
                            
                            {% endif %}
                            <div class="field">
                                <label class="label">Username</label>

                                    {{ form.username }}
                            </div>
                            <div class="field">
                                <label class="label">Password</label>

                                    {{ form.password }}


                            </div>
                            <div class="field">
                                <button class="button is-success">
                                    Login
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock body_block %}
