{% extends 'base.html' %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/fontawesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


{% block body_block %}

    <h1> Log-in</h1>
    <p>
    Please, use the following form to log in
    </p>
    <form method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <p>
        <input type="submit" value="Log in">
    </p>

    </form>
{% endblock body_block %}