{% extends "base.html" %}
{% block title %}Create an account{% endblock %}
{% block body_block %}
<h1>Create an account</h1>
<p>Please, sign up using the following form:</p>

<form method="post" class="form" action="{% url 'register' %}">
    {% csrf_token %}

    <div class="field">
        <label class="label" for="{{ user_form.username.id_for_label }}">Username:</label>
        <div class="control">
            {{ user_form.username }}
        </div>
    </div>

    <div class="field">
        <label class="label" for="{{ user_form.first_name.id_for_label }}">First Name:</label>
        <div class="control">
            {{ user_form.first_name }}
        </div>
    </div>

    <div class="field">
        <label class="label" for="{{ user_form.last_name.id_for_label }}">Last Name:</label>
        <div class="control">
            {{ user_form.last_name }}
        </div>
    </div>

    <div class="field">
        <label class="label" for="{{ user_form.email.id_for_label }}">Email:</label>
        <div class="control">
            {{ user_form.email }}
        </div>
    </div>

    <div class="field">
        <label class="label" for="{{ user_form.password.id_for_label }}">Password:</label>
        <div class="control">
            {{ user_form.password }}
        </div>
    </div>

    <div class="field">
        <label class="label" for="{{ user_form.repeat_password.id_for_label }}">Repeat Password:</label>
        <div class="control">
            {{ user_form.password2 }}
        </div>
    </div>

    <div class="field">
        <div class="control">
            <input type="submit" value="Create my account" class="button is-success">
        </div>
    </div>
</form>

{% endblock %}