{% extends 'base.html' %}

{% block head %}
    <style>
        .add-customer-button {
            margin-bottom: 10px;
        }

         .customer-table td {
        background-color: red;
        transition: background-color 0.3s ease;
    }

    .customer-table td:hover {
        background-color: #c0c0c0;
    }
    thead th {
        background-color: #55608f;
        color: white;
    }
    </style>
{% endblock head %}

{% block body_block %}
    <section class="hero is-info is-fullheight">
    <div class="container mt-4">
        <h1 class="title is-1">{{ customer }}</h1>
        <br>
        <a href="{% url 'customer-create' %}">
            <button type="button" class="button is-primary is-rounded add-customer-button is-medium">Add a Customer Record</button>
        </a>


        {% if customers %}
            <br>
    <br>
            <table class="table is-fullwidth customer-table" style="width: 800px; background-color: #0a082d; color: #fff; font-size: 20px; font-weight: 100">
                <thead style="color: white">
                    <tr style="background-color: white; font-family: Sans-Serif;">
                        <th>No.</th>
                        <th>Name</th>
                        <th>Contact</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in customers %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ c.first_name }} {{ c.last_name }}</td>
                            <td>{{ c.phone_number }}</td>
                            <td>{{ c.email }}</td>
                            <td>{{ c.address}}</td>
                            <td>
                             <div class="field is-grouped">
    <p class="control">
        <a href="{% url 'send_email' %}" class="button is-danger is-rounded is-small is-size-medium has-text-weight-bold">Send Email</a>
    </p>
    <p class="control">
        <a href="{{ c.get_absolute_url }}" class="button is-success btn-rounded is-small is-size-medium has-text-weight-bold">Read More</a>
    </p>
</div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include "pagination.html" with page=page_obj %}
        {% endif %}
    </div>
    </section>
{% endblock body_block %}
