{% extends 'base.html' %}
{% block body_block %}
<style>
    .container {
        color: #FFF;
        padding: 20px;
        position: relative;
    }

    .card {
        background-color: #0050A5;
    }

    .search-button {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .card-title {
        font-family: Arial;
        color: white;
    }

    .card-text {
        color: white;
    }

    .btn-container {
        margin-bottom: 10px; /* Adjust the margin as needed */
    }
</style>

<div class="container mt-4">
    <div class="btn-container">
        <a href="{% url 'product-create' %}">
            <button type="button" class="btn btn-primary btn-rounded">Add Product</button>
        </a>
        <a href="{% url 'send_email' %}">
            <button type="button" class="btn btn-outline-danger btn-rounded" data-mdb-ripple-color="dark">Send Email</button>
        </a>
        <a href="{% url 'products_pdf' %}">
            <button type="button" class="btn btn-warning btn-rounded">Generate Report</button>
        </a>
    </div>

    {% if products %}
        <div class="row">
            {% for product in products %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            {% if product.image %}
                                <img src="{{ product.image.url }}" class="img-fluid rounded mx-auto d-block" alt="{{ product.name }}">
                            {% endif %}
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">Unit Price: {{ product.unit_price }}</p>
                            <a href="{{ product.get_absolute_url }}" class="btn btn-info btn-rounded">Read More</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% include "pagination.html" with page=page_obj %}
    {% endif %}
</div>

{% endblock body_block %}
