{% extends 'base.html' %}
{% block body_block %}
<div class="container mt-4" style="background-color: #024873; color: #FFF;

font-family: Gill Sans Extrabold,sans-serif";>
    <h1 class="display-4 text-center mt-5">Add New Product Record</h1>
    <form method="POST" class="form" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            {{ form.name.label_tag }}
            {{ form.name }}

        </div>


        <div class="form-group">
            {{ form.quantity_on_hand.label_tag }}
            {{ form.quantity_on_hand }}

             {{ form.unit_price.label_tag }}
            {{ form.unit_price }}
        </div>

        <div class="form-group">
            {{ form.image.label_tag }}
            {{ form.image }}

            {{ form.description.label_tag }}
            {{ form.description }}
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
<br>
<br>
</div>
{% endblock body_block %}
