{% extends 'base.html' %}
{% block body_block %}
<style>
    .sale-card {
        border: 1px solid #dee2e6;
        border-radius: 10px;
        padding: 20px;
        margin: 20px 0;
        font-family: 'Gill Sans Extrabold', sans-serif;
        font-size: 16px;
    }

    .sale-details {
        margin-bottom: 10px;
        font-family: 'Gill Sans Extrabold', sans-serif;
        font-size: 18px;
    }

    .btn-group {
        margin-top: 10px;
        font-family: 'Gill Sans Extrabold', sans-serif;
        font-size: 16px;
    }
</style>


<div class="container mt-4">
    <div class="card sale-card">
        <div class="card-body">
            <h1 class="card-title">{{ sale }}</h1>
            <h2 class="sale-details">{{ sales.customer }}</h2>
            <h3 class="sale-details">Product: {{ sales.product }}</h3>
            <p class="card-text sale-details"><strong>Quantity Sold:</strong> {{ sales.quantity_sold }}</p>
            <p class="card-text sale-details"><strong>Sale's Date:</strong> {{ sales.sale_date }}</p>

            <div class="btn-group">
                <div class="btn-group-item">
                    <a href="{% url 'sale-update' object.pk %}" class="btn btn-primary">Edit Sale Record</a>
                </div>
                <div class="btn-group-item">
                    <a href="{% url 'sale-delete' object.pk %}" class="btn btn-danger">Delete Sale Record</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body_block %}
